html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.cabecalho{
    background-color: aquamarine;
}
.titulo{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}
.textoTitulo{
    margin-top: 60px;
}
.descricao{
    display: flex;
    justify-content: center;
    color: black;
    background-color: aquamarine;
    font-family: sans-serif;
    border: 2px solid black;
}
.textoDescricao{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.textoRodape{
    text-align: center;
}
.rodape{
    text-align: center;
    background-color: black;
    color: aliceblue;
    position: absolute;
    width: 100%;
    height: 26px;
    padding-top: 4px;
    padding-left: 8px;
}
