
html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.corCabecalho{
        background-color: #563d7c;
        color: #FFF;
    }
/* Aqui as animações do titulo para fazer com que a caixa se transcione para a direita*/
@keyframes fadeInText{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes revealBlock{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}
/* Aqui as você linka as animações junto com o titulo 
   e pode fazer algumas alterações na cor e etc...*/
.textoTitulo{
    opacity: 0;
    animation: fadeInText 0s 1.1s both;
    position: relative;
    overflow: hidden;
}
.textoTitulo:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(9, 127, 196);
    transform: translateX(-100%);
    animation: revealBlock 0.8s 1.1s both;
}
/* Aqui as definicões da Caixa de Descrição  */
.descricao{
    display: flex;
    justify-content: center;
    color: black;
    background-color: snow;
    font-family: sans-serif;
    border-radius: 10px;
    border: 2px solid black;
}
.textoDescricao{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Aqui as configurações do rodapé*/

