*{
    width: auto;
    height: auto;
}
.cabecalho{
    background-color: aquamarine;
}
.titulo{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}
.descricao{
    display: flex;
    justify-content: center;
    color: black;
    background-color: aquamarine;
    font-family: sans-serif;
    border: 2px solid black;
}

.rodape{
    background-color: black;
    color: aliceblue;
}
